# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
*.csv
*.parquet

# Model files
*.pkl
*.joblib
*.pt
*.pth

# Logs
*.log